* { 
  margin: 0 auto;
}

.header { 
  text-align: center;
}

main { 
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
}

article { 
  width: 40%;
  text-align: center;
}

button { 
  border-style: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

button:hover { 
  color: white;
  background-color: #c4c4c4;
}
